name: CI-CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run pylint
      run: |
        pylint app --exit-zero

    - name: Run tests
      run: |
        pytest

  deploy:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - uses: google-github-actions/setup-gcloud@v2

    - name: Build and Deploy
      run: |
        gcloud run deploy iris-api \
          --source . \
          --region ${{ secrets.GCP_REGION }} \
          --platform managed \
          --allow-unauthenticated


